/* user-profile-main-wrapper start*/
.user-profile-main-wrapper {
    height: 100vh;
}

/* user-profile-main-wrapper end*/

/* sales-stats-container start */
.sales-stat-container {

    height: 600px;
    border-radius: 10px;
}

.sales-stat-container p {

    margin-top: 10px;
    font-size: medium;
    font-weight: 500;
}

.sales-stat-bg-container {

    background: #0B1502;
    min-height: 250px;
    border-radius: 5px 5px 15px 15px;

}

.sales-stat-card-container {

    margin-top: -40px;
}

.sales-stat-card-container .card-1 .card-body p {

    color: #C76116;
}

.sales-stat-card-container .card-2 .card-body p {

    color: #2F7CAF;
}

.sales-stat-card-container-2 .card-1 .card-body p {

    color: #B15F5F;
}

.sales-stat-card-container-2 .card-2 .card-body p {

    color: #59C7DB;
}


.sales-stat-card-container .card {

    margin: 0 30px 10px 30px;
}

.sales-stat-card-container-2 {

    margin-top: 30px;
}

.sales-stat-card-container-2 .card {

    margin: 0 30px 10px 30px;
}

.sales-stat-card-container .card:nth-child(1) {

    background: #F6E8DF;
    border: none;
}

.sales-stat-card-container .card:nth-child(2) {

    background: #C6DCEF;
    border: none;
}

.sales-stat-card-container-2 .card:nth-child(1) {

    background: #F5EBEB;
    border: none;
}

.sales-stat-card-container-2 .card:nth-child(2) {

    background: #D0F3F3;
    border: none;
}

/* sales-stats-container end */


/* activity-timeline-container start */
.activity-timeline-container {
    height: 600px;
    border-radius: 10px;
}

.activity-timeline-container .timeline a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.activity-timeline-container .timeline p {

    font-size: 15px;
}

.activity-timeline-container ul.timeline {
    list-style-type: none;
    position: relative;
}

.activity-timeline-container ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

.activity-timeline-container ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

.activity-timeline-container ul.timeline>.item1:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #DC3545;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.activity-timeline-container ul.timeline>.item2:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #00DEB1;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.activity-timeline-container ul.timeline>.item3:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #DAB520;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* activity-timeline-container end*/


/* chart-container start */
.chart-container {

    height: 600px !important;
    border-radius: 10px;
}

.chart-container .card {

    margin: 5px 0;
    height: 225px;
}

/* chart-container end */



/* task-overview-container start*/


.task-overview-container {
    border-radius: 10px;
}

.task-overview-container .image {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.task-overview-container .image-2 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.task-overview-container .image-2 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.task-overview-container .image-3 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.task-overview-container .image-3 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.task-overview-container .image-4 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.task-overview-container .image-5 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

/* task-overview-container end*/

/* new-arrival-container start */
.new-arrival-container {

    border-radius: 10px;
    height: 465px !important;
}

/* new-arrival-container end */

/* author-container start */
.author-container {

    height: 480px;
    border-radius: 10px;
}

.author-container .image {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;

}

.author-container .image-2 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;

}

.author-container .image-3 {

    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.author-container .image-4 {
    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

.author-container .image-5 {
    padding: 6px;
    background: #CAE0E9;
    border-radius: 5px;
}

/* author-container end */


/* todo-container start */
.todo-container {

    height: 480px;
    border-radius: 10px;
}

.todo-container .image {

    padding: 6px;
    background: #CFF0DB;
    border-radius: 5px;
    height: 4vh;
    width: 9%;
}

.mainBox {
    border-left: 3px solid red;
    padding-left: 10px;
}


.mainBox-2 {
    border-left: 3px solid red;
    padding-left: 10px;
}

.todo-container .image-2 {

    padding: 6px;
    background: #CFF0DB;
    border-radius: 5px;
    height: 4vh;
    width: 9%;

}

.mainBox-3 {
    border-left: 3px solid red;
    padding-left: 10px;
}

.todo-container .image-3 {

    padding: 6px;
    background: #CFF0DB;
    border-radius: 5px;
    height: 4vh;
    width: 9%;
}

.mainBox-4 {
    border-left: 3px solid red;
    padding-left: 10px;
}

.todo-container .image-4 {

    padding: 6px;
    background: #CFF0DB;
    border-radius: 5px;
    height: 4vh;
    width: 9%;
}

.mainBox-5 {
    border-left: 3px solid red;
    padding-left: 10px;
}

.todo-container .image-5 {

    padding: 6px;
    background: #CFF0DB;
    border-radius: 5px;
    height: 4vh;
    width: 9%;
}

/* todo-container end */


/* trend-container start */
.trend-container {

    border-radius: 10px;
}

.trend-container span {

    font-size: 15px;
}

/* trend-container end */


/* action-needed-container start */
.action-needed-container {
    border-radius: 10px;
    height: 404px;
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 78px;
    height: 75px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(rgb(20 187 79) 75%, rgb(184, 239, 154) 0);
}

.green::before {
    content: "95%";
}

/* action-needed-container end */

/* agent-stat-container start */
.agent-stat-container {
    border-radius: 10px;

}

.agent-stat-container button:nth-child(1) {

    background: purple;
    color: white;
}

.agent-stat-container button:nth-child(2) {

    background: red;
    color: white;
}

.agent-stat-container .btn {

    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 560;
}

.agent-stat-container .button:nth-child(1).active {

    background: purple;
}



/* agent-stat-container end */